<mat-toolbar class="bg-primary" style="color: #FFF;">
    <span>Bienvenido</span>
    <button mat-icon-button class="example-icon ms-3" routerLink="">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="example-icon ms-3" routerLink="/tabla">
        <mat-icon>table_chart</mat-icon>
    </button>
    <button mat-icon-button class="example-icon ms-3" routerLink="/contacto">
        <mat-icon>person</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
</mat-toolbar>