<app-nav></app-nav>
<div class="container-fluid w-100 d-flex align-items-center justify-content-center">
    <div class="row row-cols-2 w-100 h-100">
        <div class="col-3">
            <div class="container h-100 w-100 d-flex align-items-center justify-content-center">
                <div class="container bg-light shadow rounded-4 pt-3" style="width: 25rem;">
                    <form [formGroup]="form" (ngSubmit)="Add()">                        
                        <div class="row">
                            <div class="text-center">
                                <h2 class="fw-bold text-uppercase">Ingrese Credenciales</h2>
                            </div>
                        </div>
                        <div class="row mt-2 p-4 pt-0">
                            <div class="input-group flex-nowrap">
                                <input type="text" class="form-control" placeholder="Cédula" formControlName="cedula">
                            </div>
                        </div>
                        <div class="row p-4 pt-0">
                            <div class="input-group flex-nowrap">
                                <input type="text" class="form-control" placeholder="Apellido" formControlName="nombre">
                            </div>
                        </div>
                        <div class="row p-4 pt-0">
                            <div class="input-group flex-nowrap">
                                <input type="text" class="form-control" placeholder="Cédula" formControlName="apellido">
                            </div>
                        </div>
                        <div class="row p-4 pt-0">
                            <div class="input-group flex-nowrap">
                            <input type="date" class="form-control" formControlName="fecha">
                        </div>
                        </div>
                        <div class="row p-4 pt-0">
                            <div class="input-group flex-nowrap">
                                <input type="text" class="form-control" placeholder="Telefono" formControlName="telefono">
                            </div>
                        </div>
                        <div class="row mt-2 p-4 pt-0">
                            <button type="submit" class="btn btn-outline-primary w-50" style="margin: 0 auto;">Primary</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col w-75">
            <div class="row">

                <div class="container-table mt-3 shadow rounded-4">
                    <table mat-table [dataSource]="dataSource" matSort>
    
                        <ng-container matColumnDef="cedula"> 
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-25"> Cédula </th>
                            <td mat-cell *matCellDef="let row"> {{row.cedula}} </td>
                        </ng-container>
    
                        <ng-container matColumnDef="nombre"> 
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                          <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="apellido">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
                          <td mat-cell *matCellDef="let row"> {{row.apellido}} </td>
                        </ng-container>
              
                        <ng-container matColumnDef="fecha">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Nac. </th>
                            <td mat-cell *matCellDef="let row"> {{row.fechaNac| date: 'shortDate'}}  </td>
                        </ng-container>
    
                        <ng-container matColumnDef="telefono">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
                            <td mat-cell *matCellDef="let row"> {{row.telefono}} </td>
                        </ng-container>                    
    
                        <ng-container matColumnDef="accion">
                          <th mat-header-cell *matHeaderCellDef class="text-center"> Acción </th>
                          <td mat-cell *matCellDef="let row">
                            <div class="container d-flex justify-content-evenly p-0">
                                <button class="btn btn-accion btn-danger" (click)="eliminar(row.cedula)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                          </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
              
                    <mat-paginator [pageSizeOptions]="[3]"></mat-paginator>
                </div>     


            </div>
            <div class="row mt-5">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Cédula</th>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Fecha Nac.</th>
                      <th>Teléfono</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let elemento of DatosEliminados">
                      <td>{{ elemento.cedula }}</td>
                      <td>{{ elemento.nombre }}</td>
                      <td>{{ elemento.apellido }}</td>
                      <td>{{ elemento.fechaNac | date: 'shortDate' }}</td>
                      <td>{{ elemento.telefono }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
        </div>
    </div>
</div>
<app-footer></app-footer>